<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272143527303-6kmlcmqql2soqe2mjdm2vio1p4rjqmm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272143527303-6kmlcmqql2soqe2mjdm2vio1p4rjqmm0</string>
	<key>API_KEY</key>
	<string>AIzaSyBph-zLhUbX5o-OdPP-KmQkQG9cytniEJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>272143527303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.sidsharma.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-78dd2</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-78dd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272143527303:ios:d3c7eef840e743b5d8b722</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-78dd2.firebaseio.com</string>
</dict>
</plist>